.foot {
  padding: 30px 0px;
  background-color: #202020;
  color: #e7e7e7;
}
.foot__row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot__title {
  margin: 0px 0px 10px 0px;
  letter-spacing: 1px;
  text-shadow: 0 0 1px rgb(2, 2, 2);
  text-align: center;
}
.foot__link {
  display: flex;
}
@media (max-width: 490px) {
  .foot__link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
.foot__link a {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
@media (max-width: 490px) {
  .foot__link a {
    margin: 5px 0px;
  }
}
.foot__link__image {
  width: 35px;
  height: 30px;
  padding: 0 5px 0 0;
}
.foot__link__image img {
  width: 100%;
}
.foot__link__text {
  font-size: 12px;
  color: #e7e7e7;
  letter-spacing: 1px;
}