* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img {
  width: 100%;
  height: 100%;
}

.foot {
  padding: 30px 0px;
  background-color: #202020;
  color: #e7e7e7;
}
.foot__row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot__title {
  margin: 0px 0px 10px 0px;
  letter-spacing: 1px;
  text-shadow: 0 0 1px rgb(2, 2, 2);
  text-align: center;
}
.foot__link {
  display: flex;
}
@media (max-width: 490px) {
  .foot__link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
.foot__link a {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
@media (max-width: 490px) {
  .foot__link a {
    margin: 5px 0px;
  }
}
.foot__link__image {
  width: 35px;
  height: 30px;
  padding: 0 5px 0 0;
}
.foot__link__image img {
  width: 100%;
}
.foot__link__text {
  font-size: 12px;
  color: #e7e7e7;
  letter-spacing: 1px;
}

@font-face {
  font-family: "Bang";
  src: url("../fonts/Black.Angel.Demo.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html {
  font-family: Gilroy, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
}

body {
  background: #121212;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #121212;
}

.full-screen {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.full-screen .full-screen__body {
  padding: 50px 10px;
  background: #121212;
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.full-screen .full-screen__title {
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 767px) {
  .full-screen .full-screen__title {
    font-size: calc(28px + 54.4 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .full-screen .full-screen__title {
    font-size: calc(28px + 54.4 * (100vw / 1280));
  }
}
@media (max-width: 767px) {
  .full-screen .full-screen__title {
    letter-spacing: calc(5px + 11.9 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .full-screen .full-screen__title {
    letter-spacing: calc(5px + 11.9 * (100vw / 1280));
  }
}
.full-screen .full-screen__text {
  font-family: "Bang", "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 10px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 767px) {
  .full-screen .full-screen__text {
    font-size: calc(55px + 76.5 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .full-screen .full-screen__text {
    font-size: calc(55px + 76.5 * (100vw / 1280));
  }
}
.full-screen .full-screen__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.full-screen .full-screen__link {
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 2px solid white;
  letter-spacing: 5px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.about {
  margin: 0px 0px 50px 0px;
}
.about .about__body {
  gap: 10px;
}
@media (max-width: 768px) {
  .about .about__body {
    flex-direction: column;
  }
}
.about .about_image img {
  border-radius: 0px 40px 0px 40px;
}
.about .about__circle {
  top: 5px;
}
@media (max-width: 767px) {
  .about .about__circle {
    left: calc(110px + 136 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .about .about__circle {
    left: calc(110px + 136 * (100vw / 1280));
  }
}

.block {
  position: relative;
  z-index: 10;
}
.block .block__title {
  font-weight: 700;
  margin: 0px 0px 40px 0px;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .block .block__title {
    font-size: calc(25px + 34 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .block .block__title {
    font-size: calc(25px + 34 * (100vw / 1280));
  }
}
.block .block__title-circle {
  position: absolute;
  z-index: -1;
}
.block .block__body {
  display: flex;
}
@media (max-width: 767px) {
  .block .block__text {
    font-size: calc(14px + 15.3 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .block .block__text {
    font-size: calc(14px + 15.3 * (100vw / 1280));
  }
}
.block .block__image {
  flex: 1 0 50%;
  max-width: 100%;
}
.block .block__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.circle {
  background-color: #4E0E1F;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .circle {
    width: calc(30px + 42.5 * ((100vw - 320px) / 1280));
    height: calc(30px + 42.5 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .circle {
    width: calc(30px + 42.5 * (100vw / 1280));
    height: calc(30px + 42.5 * (100vw / 1280));
  }
}

.portfolio {
  margin: 0px 0px 40px 0px;
}
.portfolio .portfolio__circle {
  top: 5px;
}
@media (max-width: 767px) {
  .portfolio .portfolio__circle {
    left: calc(80px + 119 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .portfolio .portfolio__circle {
    left: calc(80px + 119 * (100vw / 1280));
  }
}

.portfolio__items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (max-width: 431px) {
  .portfolio__items {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
@media (max-width: 352px) {
  .portfolio__items {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
.portfolio__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__item-big {
  grid-column: span 2;
  grid-row: span 2;
}

@media (min-width: 1339px) {
  .last_item {
    display: none;
  }
}
.price {
  margin: 0px 0px 40px 0px;
}
.price .price__title {
  margin: 0px 0px 50px 0px;
}
.price .price__circle {
  top: 3px;
}
@media (max-width: 767px) {
  .price .price__circle {
    left: calc(45px + -42.5 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .price .price__circle {
    left: calc(45px + -42.5 * (100vw / 1280));
  }
}
.price .price__body {
  padding: 0 20px;
  display: flex;
  gap: 20px;
}
.price .price__table {
  flex: 1 0 50%;
}
.price .price__image {
  flex: 1 0 50%;
  position: relative;
  min-height: 400px;
}
.price .price__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
  position: absolute;
  top: 0;
  left: 0;
}
.price .price__689 {
  display: none;
}
@media (max-width: 713px) {
  .price .price__body {
    position: relative;
    z-index: 120;
  }
  .price .price__image {
    display: none;
  }
}

.table {
  padding: 10px;
  border: 1px solid #fff;
}
.table .table__items {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
}
.table .table__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
  margin: 0px 0px 10px 0px;
}
@media (max-width: 767px) {
  .table .table__item {
    font-size: calc(11px + 5.1 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .table .table__item {
    font-size: calc(11px + 5.1 * (100vw / 1280));
  }
}
@media (max-width: 713px) {
  .table .table__items {
    position: relative;
  }
  .table .price__689 {
    display: block;
    position: relative;
  }
  .table .price__689 img {
    position: absolute;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}