@import "./nullstyle.scss";


 
$marginMobile: 0px 0px 30px 0px;
$redColor: #4E0E1F;
$heightPrice: 400px;

$maxWidth:1280;
@mixin adaptiv-font($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width:767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width:767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * (100vw / #{$maxWidth}));
    }
}
@mixin adaptiv-letter-space($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width:767px) {
        letter-spacing: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width:767px) {
        letter-spacing: calc(#{$mobSize + px} + #{$addMobSize} * (100vw / #{$maxWidth}));
    }
}
@mixin adaptiv-circle($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width:767px) {
        width: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
        height: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width:767px) {
        width: calc(#{$mobSize + px} + #{$addMobSize} * (100vw / #{$maxWidth}));
        height: calc(#{$mobSize + px} + #{$addMobSize} * (100vw / #{$maxWidth}));
    }
}
@mixin adaptiv-position($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width:767px) {
        left: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width:767px) {
        left: calc(#{$mobSize + px} + #{$addMobSize} * (100vw / #{$maxWidth}));
    }
}
@mixin adaptiv-positionTop($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width:767px) {
        top: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width:767px) {
        top: calc(#{$mobSize + px} + #{$addMobSize} * (100vw / #{$maxWidth}));
    }
}

@font-face {
    
    font-family: "Bang"; 
    src: url("../fonts/Black.Angel.Demo.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 


html{
    font-family: Gilroy, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}
body{
    background: #121212;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #121212;
}

//==========================================================================================================================
.full-screen {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    .full-screen__body {
        padding: 50px 10px;
        background: #121212;
        position: relative;
        z-index: 2;
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .full-screen__title {
        padding: 0 10px;
        text-align: center;
        text-transform: uppercase;
        @include adaptiv-font(60, 28);
        @include adaptiv-letter-space(12, 5);
        font-weight: 700;
        margin: 0px 0px 30px 0px;
    }
    .full-screen__text {
        font-family: 'Bang', "Helvetica Neue", Helvetica, sans-serif;
        text-align: center;
        @include adaptiv-font(100, 55);
        letter-spacing: 10px;
        margin: 0px 0px 30px 0px;
    }
    .full-screen__photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .full-screen__link{
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 2px solid white;
        letter-spacing: 5px;
        a{
            color: #fff;
        }
    }

}
//==========================================================================================================================
.container{
    max-width: #{$maxWidth + px};
    margin: 0 auto;
    padding: 0 20px;
}
//==========================================================================================================================
.about {
    margin: 0px 0px 50px 0px;
    
    .about__body {
        gap: 10px;
    }
    @media (max-width:767px) {
        .about__body {
            flex-direction: column;
        }
    }
    .about__text {
        margin: 0px 0px 10px 0px;
    }
    .about__title {
        margin: 0px 0px 50px 0px;
    }
    @media (max-width:767px) {
    .about__title{
        margin: $marginMobile;
    }}
    .about__text {
    }
    .about_image {
        img{
            border-radius: 0px 40px 0px 40px;
        }

    }
    .about__circle{
    top: 5px;
    @include adaptiv-position(190, 110)
    }


}
@media (max-width:767px) {
    .about{
        margin: $marginMobile;
    }

}
//==========================================================================================================================
.block {
    position: relative;
    z-index: 10;
    &__title {
        @include adaptiv-font(45, 25);
        font-weight: 700;
        letter-spacing: 2px;
    }
    .block__title-circle {
        position: absolute;
        z-index: -1;
    }
    
    .block__body {
        display: flex;
    }
    
    .block__text {
        @include adaptiv-font(23, 14);
    }
    
    .block__image {
        flex: 1 0 50%;
        max-width: 100%;
        img{
            object-fit: cover;
            width: 100%;
        }
    }
}
.circle {
    @include adaptiv-circle(55, 30);
    background-color: $redColor;
    border-radius: 50%;
}
//==========================================================================================================================
.portfolio {
    margin: 0px 0px 50px 0px;

    .portfolio__title {
        margin: 0px 0px 50px 0px;
    }
    @media (max-width:767px) {
        .portfolio__title{
            margin: $marginMobile;
        }
    }
    .portfolio__circle {
        top: 5px;
        @include adaptiv-position(150, 80)
    }

}
@media (max-width:767px) {
    .portfolio{
        margin: $marginMobile;
    }
}
.portfolio__items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media (max-width:431px) {
    .portfolio__items{

        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
@media (max-width:352px) {
    .portfolio__items{

        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}
.portfolio__item {
  
    img{
        border-radius: 10px;
        width: 100%;
        object-fit: cover;
    }
}
.portfolio__item-big{
    grid-column: span 2;
    grid-row: span 2;
}

@media (min-width:1339px) {
    .last_item{
        display: none;
    }
}
 //==========================================================================================================================

.price {
    margin: 0px 0px 50px 0px;
    .price__title {
        margin: 0px 0px 50px 0px;
    }
    @media (max-width:767px) {
        .price__title{
            margin: $marginMobile;
        }
    }
    .price__circle {
        top: 3px;
        @include adaptiv-position(20, 45)
    }
    .price__body {
        padding: 0 20px;
        display: flex;
        gap: 20px;
    }
    .price__table {
        flex: 1 0 50%;
    }
    .price__image{
        flex: 1 0 50%;
        position: relative;
        min-height: $heightPrice;
        img{
            border-radius: 5px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    @media (max-width:713px) {
        .price__table {
            position: relative;
            z-index: 120;
            &::before{
                content: '';
                background-image: url('../img/kamila.JPG'); 
                position: absolute; 
                background-size: cover;
                top: 0; 
                left: 0; 
                width: 100%; 
                height: 100%; 
                opacity: 0.3; 
                z-index: -1;
            }
            
        }
        .price__image{
            display: none;
        }
    }
}
@media (max-width:767px) {
    .price{
        margin: $marginMobile;
    }
}
.table {
    padding: 10px;
    border: 1px solid #fff;

    .table__items {
        display:flex;
        flex-direction:column;
        height: $heightPrice;
        justify-content: space-between;

    }
    .table__item {
        @include adaptiv-font(14, 12);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid white;
        padding-bottom: 3px;
        margin: 0px 0px 10px 0px;
    }
    .table__item-label {
        padding-right: 3px;
    }
    .table__item-price {
    }
}
//====================================================


.swiper {
    margin: 0px 0px 50px 0px;
    .swiper__title {
        margin: 0px 0px 50px 0px;
        &::before{
            content: '';
            background-image: url('../img/circle.png'); 
            position: absolute; 
            background-size: cover;
            @include adaptiv-position(100, 58);
            @include adaptiv-positionTop(-33, -24);
            @include adaptiv-circle(145, 90);
            opacity: 1;
            z-index: -1;
        }
    }
    @media (max-width:767px){
        .swiper__title{
            margin: $marginMobile;
        }
    }


    
    .swiper-wrapper {
    }
    .swiper-slide {
        position: relative;

        max-width: 500px;
        max-height: 700px; 
        &__box{
            position: absolute;
            bottom: 100px;
            display: flex;
            flex-direction: column;
            padding: 30px;
            color: #646464;
            
            max-width: 300px;
            
            
        }
        @media (max-width:768px) {
            &__box{
                bottom: 40px;
                padding: 10px;
                max-width: 140px;
            }
        }
        img{
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
    @media (max-width:767px) {
        .swiper-slide{
            max-width: 310px;
            max-height: 510px; 
        }
    }
    @media (max-width:422px) {
        .swiper-slide{
            max-width: 270px;
            max-height: 470px; 
        }
    }
    @media (max-width:374px) {
        .swiper-slide{
            max-width: 230px;
            max-height: 430px; 
        }
    }

}
@media (max-width:767px) {
    .swiper{
        margin: $marginMobile;
    }
}

.box {
    
    .box__title {
        margin: 0px 0px 10px 0px;
        @include adaptiv-font(50,30 );

    }
    @media (max-width:767px){
        .box__title{
            margin: 0px 0px 6px 0px;
        }
    }
    .box__text {
        @include adaptiv-font(23,14 )
    }
}

.form {
    margin: 0px 0px 50px 0px;
    position: relative;
    z-index: 0;
    .form__title {
        margin: 0px 0px 50px 0px;
        position: relative;
        z-index: 1;
    }
    .form__circle{
        position: absolute;
        @include adaptiv-positionTop(-20,-15);
        @include adaptiv-position(45,21);
        @include adaptiv-circle(110, 70);
        z-index: -1;
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    @media (max-width:767px){
        .form__title{
            margin: $marginMobile;
        }
    }

    &__body {
        padding: 0 20px;
        display: flex;
        gap: 20px;

    }
    &__logo {
        flex: 1 0 50%;
        position: relative;
        min-height: $heightPrice;
        img{
            border-radius: 5px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__content {
        flex: 1 0 50%;
        padding: 5px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(18, 18, 18, 0.9) url(../img/giphy.gif) center / 50px no-repeat;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease 0s;
        }
        &._sending::after{
            opacity: 1;
            visibility: visible;
        }
    }
    @media (max-width:713px) {
        .form__content {
            position: relative;
            z-index: 120;
            text-align: center;
            &::before{
                content: '';
                background-image: url('../img/kamila.JPG'); 
                position: absolute; 
                background-size: cover;
                top: 0; 
                left: 0; 
                width: 100%; 
                height: 100%; 
                opacity: 0.3; 
                z-index: -1;
            }
            
        }
        .form__logo{
            display: none;
        }
    }
}
.feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .feedback__text {
        margin: 0px 0px 10px 0px;
        @include adaptiv-font(16, 14);
        letter-spacing: 2px;
        line-height: 20px;
    }
    .feedback__forma {

    }
    .feedback__message{
        letter-spacing: 2px;
    }
    .feedback__items {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .feedback__item {
        padding: 5px;
        opacity: 0.5;
        &:focus{
            opacity: 1;
        }

    }
    .feedback__buttom{
        opacity: 1;
        max-width: 100px;
        padding: 5px 15px;
        margin: 0 auto;
        background: none;
        border: 1px solid #fff;
        transition: all 0.5s ease;
        span{
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 600;
            color: #fff;
        }
        &:hover{
            background-color: #646464;
        }
        &:active{
            background-color: #333333;
        }
    }
}
textarea{
    resize: none;
}
.form__input{
    &._error{
        
        box-shadow: inset 0 0 5px red;
        opacity: 1;
    }
}

//===========================
.foot {
    background-color: #4E0E1F;
    padding: 20px 40px;
    
    .foot_columns {
        display: flex;
        padding: 0 5px;
    }
    .foot__column {
    }
    .foot__title{
        margin: 0px 0px 10px 0px;
        text-align: right;
        @include adaptiv-font(18, 12)
    }
    @media (max-width:767px) {
        .foot__title{
            margin-bottom: 3px;
        }
    }
}
.foco {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    .foco__title {

    }
    .foco__list {
        li{
        margin-bottom: 10px;
        }
        @media (max-width:767px) {
                li{
    
                    margin-bottom: 0px;
                }
        }
    }
    .foco__link {
        a{
            color: #fff;
            @include adaptiv-font(10, 6)
        }
    }

}

.middle {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .middle__list {
        display: flex;
        gap: 5px;
    }
    .middle__link {
        a{
        font-size: 10px;
        color: #fff;
        }
    }
}


.right {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .right__list {
        text-align: right;
    }
    .right__link {
    }
}

.a_adress{
    text-decoration: underline;
    color: white;
    @include adaptiv-font(10, 6)
}