@import "./nullstyle.scss";


 
$marginMobile: 0px 0px 30px 0px;
$redColor: #4E0E1F;
$heightPrice: 400px;

$maxWidth:1280;
@mixin adaptiv-font($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width:767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width:767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * (100vw / #{$maxWidth}));
    }
}
@mixin adaptiv-letter-space($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width:767px) {
        letter-spacing: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width:767px) {
        letter-spacing: calc(#{$mobSize + px} + #{$addMobSize} * (100vw / #{$maxWidth}));
    }
}
@mixin adaptiv-circle($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width:767px) {
        width: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
        height: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width:767px) {
        width: calc(#{$mobSize + px} + #{$addMobSize} * (100vw / #{$maxWidth}));
        height: calc(#{$mobSize + px} + #{$addMobSize} * (100vw / #{$maxWidth}));
    }
}
@mixin adaptiv-position($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width:767px) {
        left: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width:767px) {
        left: calc(#{$mobSize + px} + #{$addMobSize} * (100vw / #{$maxWidth}));
    }
}
@mixin adaptiv-positionTop($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width:767px) {
        top: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width:767px) {
        top: calc(#{$mobSize + px} + #{$addMobSize} * (100vw / #{$maxWidth}));
    }
}

@font-face {
    
    font-family: "Bang"; 
    src: url("../fonts/Black.Angel.Demo.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 


html{
    font-family: Gilroy, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}
body{
    background: #121212;

}
textarea{
    resize: none;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

//==========================================================================================================================
.full-screen {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    .full-screen__body {
        padding: 50px 10px;
        background: #121212;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        flex-direction: column;
        
    }
    .full-screen__title {
        padding: 0 10px;
        text-align: center;
        text-transform: uppercase;
        @include adaptiv-font(60, 28);
        @include adaptiv-letter-space(12, 5);
        font-weight: 700;
        margin-bottom: 30px;
    }
    .full-screen__text {
        font-family: 'Bang', "Helvetica Neue", Helvetica, sans-serif;
        text-align: center;
        @include adaptiv-font(100, 55);
        letter-spacing: 10px;
        margin-bottom: 30px;
    }
    .full-screen__photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .full-screen__link{
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 2px solid white;
        letter-spacing: 5px;
        a{
            color: #fff;
        }
    }

}
//==========================================================================================================================
.container{
    max-width: #{$maxWidth + px};
    margin: 0 auto;
    padding: 0 20px;
}
//==========================================================================================================================
.about {
    
    
    &__body {
        gap: 10px;
    }
    @media (max-width:767px) {
        &__body {
            flex-direction: column;
        }
    }
    &__text {
        margin: 0px 0px 10px 0px;
    }

    &__text {
    }
    &_image {
        img{
            border-radius: 0px 40px 0px 40px;
        }

    }
    &__circle{
    top: 5px;
    @include adaptiv-position(190, 110)
    }


}

//==========================================================================================================================
.block {
    position: relative;
    z-index: 10;
    margin-bottom: 50px;
    &__title {
        @include adaptiv-font(45, 25);
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 50px;
    }
    @media (max-width:767px) {
        &__title{
            margin: $marginMobile;
        }}
    .block__title-circle {
        position: absolute;
        z-index: -1;
    }
    
    &__body {
        display: flex;
    }
    
    &__text {
        @include adaptiv-font(23, 14);
    }
    
    &__image {
        flex: 1 0 50%;
        max-width: 100%;
        img{
            object-fit: cover;
            width: 100%;
        }
    }
}
@media (max-width:767px) {
    .block{
        margin: $marginMobile;
    }}
.circle {
    @include adaptiv-circle(55, 30);
    background-color: $redColor;
    border-radius: 50%;
}
//==========================================================================================================================
.portfolio {

    &__circle {
        top: 5px;
        @include adaptiv-position(150, 80)
    }

    &__items {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    @media (max-width:431px) {
        .portfolio__items{
    
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
    }
    @media (max-width:352px) {
        .portfolio__items{
    
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
    }
    &__item {
      
        img{
            border-radius: 10px;
            width: 100%;
            object-fit: cover;
        }
    }
    .portfolio__item-big{
        grid-column: span 2;
        grid-row: span 2;
    }
}


@media (min-width:1339px) {
    .last_item{
        display: none;
    }
}
 //==========================================================================================================================

.price {
    &__circle {
        top: 3px;
        @include adaptiv-position(20, 45)
    }
    &__body {
        padding: 0 20px;
        display: flex;
        gap: 20px;
    }
    &__table {
        flex: 1 0 50%;
    }
    &__image{
        flex: 1 0 50%;
        position: relative;
        min-height: $heightPrice;
        img{
            border-radius: 5px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    @media (max-width:713px) {
        .price__table {
            position: relative;
            z-index: 120;
            &::before{
                content: '';
                background-image: url('../img/kamila.webp'); 
                position: absolute; 
                background-size: cover;
                top: 0; 
                left: 0; 
                width: 100%; 
                height: 100%; 
                opacity: 0.3; 
                z-index: -1;
            }
            
        }
        .price__image{
            display: none;
        }
    }
}

.table {
    padding: 10px;
    border: 1px solid #fff;

    &__items {
        display:flex;
        flex-direction:column;
        height: $heightPrice;
        justify-content: space-between;

    }
    &__item {
        @include adaptiv-font(14, 12);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid white;
        padding-bottom: 3px;
        margin: 0px 0px 10px 0px;
    }
    &__item-label {
        padding-right: 3px;
    }

}
//====================================================


.swiper {
    &__title {

        &::before{
            content: '';
            background-image: url('../img/circle.webp'); 
            position: absolute; 
            background-size: cover;
            @include adaptiv-position(100, 58);
            @include adaptiv-positionTop(-33, -24);
            @include adaptiv-circle(145, 90);
            opacity: 1;
            z-index: -1;
        }
    }

    &-slide {
        position: relative;

        max-width: 500px;
        max-height: 700px; 
        &__box{
            position: absolute;
            bottom: 100px;
            display: flex;
            flex-direction: column;
            padding: 30px;
            color: #646464;
            
            max-width: 300px;
            
            
        }
        @media (max-width:768px) {
            &__box{
                bottom: 40px;
                padding: 10px;
                max-width: 140px;
            }
        }
        img{
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
    @media (max-width:767px) {
        .swiper-slide{
            max-width: 310px;
            max-height: 510px; 
        }
    }
    @media (max-width:422px) {
        .swiper-slide{
            max-width: 270px;
            max-height: 470px; 
        }
    }
    @media (max-width:374px) {
        .swiper-slide{
            max-width: 230px;
            max-height: 430px; 
        }
    }

}

.box {
    
    &__title {
        margin-bottom:10px;
        @include adaptiv-font(40,30 );

    }
    @media (max-width:767px){
        .box__title{
            margin-bottom: 6px;
        }
    }
    &__text {
        @include adaptiv-font(18,14 )
    }
}

.form {
    position: relative;
    z-index: 0;
    &__title {
        position: relative;
        z-index: 1;
    }
    &__circle{
        position: absolute;
        @include adaptiv-positionTop(-20,-15);
        @include adaptiv-position(45,21);
        @include adaptiv-circle(110, 70);
        z-index: -1;
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    &__body {
        padding: 0 20px;
        display: flex;
        gap: 20px;

    }
    &__logo {
        flex: 1 0 50%;
        position: relative;
        min-height: $heightPrice;
        img{
            border-radius: 5px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__content {
        flex: 1 0 50%;
        padding: 15px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(18, 18, 18, 0.9) url(../img/giphy.gif) center / 50px no-repeat;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease 0s;
        }
        &._sending::after{
            opacity: 1;
            visibility: visible;
        }
    }
    @media (max-width:713px) {
        .form__content {
            position: relative;
            z-index: 120;
            text-align: center;
            &::before{
                content: '';
                background-image: url('../img/kamila.webp'); 
                position: absolute; 
                background-size: cover;
                top: 0; 
                left: 0; 
                width: 100%; 
                height: 100%; 
                opacity: 0.3; 
                z-index: -1;
            }
            
        }
        &__logo{
            display: none;
        }
    }
}
.feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__text {
        margin: 0px 0px 10px 0px;
        @include adaptiv-font(16, 14);
        letter-spacing: 2px;
        line-height: 20px;
    }
    &__message{
        letter-spacing: 2px;
    }
    &__items {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__item {
        padding: 5px;
        opacity: 0.5;
        &:focus{
            opacity: 1;
        }

    }
    &__buttom{
        opacity: 1;
        max-width: 100px;
        padding: 5px 15px;
        margin: 0 auto;
        background: none;
        border: 1px solid #fff;
        transition: all 0.5s ease;
        span{
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 600;
            color: #fff;
        }
        &:hover{
            background-color: #646464;
        }
        &:active{
            background-color: #333333;
        }
    }
}

.form__input{
    &._error{
        
        box-shadow: inset 0 0 5px red;
        opacity: 1;
    }
}

//===========================
footer{
    margin-top: 20px;
    background-color: #4E0E1F;
    padding: 20px;
    width: 100%;
}
.foot {
    
    &_columns {
        display: flex;
        gap: 10px;
    }
    &__title{
        margin-bottom:10px;
        @include adaptiv-font(18, 12)
    }
    @media (max-width:767px) {
        &__title{
            margin-bottom: 3px;
        }
    }
}
.foco {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    &__list {
        li{
        margin-bottom: 10px;
        }
        @media (max-width:767px) {
            li{
                margin-bottom: 0px;
            }
        }
    }
    &__link {
        a{
            color: #fff;
            @include adaptiv-font(10, 6)
        }
    }

}
@media (max-width:767px) {
    .foco{
        display: none;
    }
    .foot__title{
        display: none;
    }
    .foot_columns{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
.middle {
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__list {
        display: flex;
        gap: 15px;
    }
    &__link {
        a{
        font-size: 10px;
        color: #fff;
        }
    }
    @media (max-width:767px) {
    
        &__list {
            display: flex;
            gap: 20px;
        }
    
    }
}
.right {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__list {
        text-align: right;
        padding-left: 0px;
    }
}
.a_adress{
    text-decoration: underline;
    color: white;
    letter-spacing: 1px;
    font-size: 12px;
}


.popUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #121212;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    transition: all 0.5s ease;

    &__text {
        margin-bottom: 30px;
        @include adaptiv-font(18, 12);
        line-height: 25px;
    }
    &__image {
        height: 150px;
        width: 150px;
        margin-bottom: 30px;

        img{
            width: 100%;
            object-fit: cover;

        }
    }
    &__btn {
        color: #fff;
        @include adaptiv-font(14, 10)
    }
}
@media (max-width:767px) {
    .popUp {
        padding: 10px;
        &__text {
            margin-bottom: 15px;
            @include adaptiv-font(18, 12);
            line-height: 15px;
        }
        &__image {
            height: 100px;
            width: 100px;
            margin-bottom: 15px;
        }
    }
}